<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xwlin.mapper.MyConfigDao">
    <resultMap id="BaseResultMap" type="cn.xwlin.entity.MyConfig">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="config_key" jdbcType="VARCHAR" property="configKey"/>
        <result column="config_type" jdbcType="VARCHAR" property="configType"/>
        <result column="config_value" jdbcType="VARCHAR" property="configValue"/>
        <result column="version" jdbcType="BIGINT" property="version"/>
        <result column="modified" jdbcType="TIMESTAMP" property="modified"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, config_key, config_type, config_value, version, modified
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from my_config
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectByConfigKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from my_config
        where config_key = #{configKey,jdbcType=VARCHAR}
    </select>

    <select id="listChangeConfig" resultMap="BaseResultMap">
        select
        id, config_key, version, modified
        from my_config
        where modified > #{modified,jdbcType=TIMESTAMP}
    </select>

    <select id="listAllConfig" resultMap="BaseResultMap">
        select
            id, config_key, version, modified
        from my_config
    </select>
</mapper>