<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>websocket.js</title>
</head>
<body>
<div id="box" style="width:100%;height:800px;border:solid 1px #000;">
    <div id="switcher" style="width:10px;height:10px;border:solid 2px #F00;">
    </div>
</div>

<script type="text/javascript" th:src="@{/jquery-1.11.3.min.js}"></script>
<script type="text/javascript" th:src="@{/websocket.js}"></script>
<script>
    $("#switcher").css("transform", "translate(100px, 100px)");

    $(document).keydown(function (event) {
        var keyNum = event.which;  //获取键值
        var Item = $('#switcher');  //要移动的元素
        Item.css({position: 'relative'}); //设置position
        switch (keyNum) { //判断按键
            case 37:
                Item.animate({left: '-=5px'},0);
                break;
            case 38:
                Item.animate({top: '-=5px'},0);
                break;
            case 39:
                Item.animate({left: '+=5px'},0);
                break;
            case 40:
                Item.animate({top: '+=5px'},0);
                break;
            default:
                break;
        }
    });
</script>
</body>
</html>