<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xwlin.configcenter.mapper.SysConfigMapper">
    <resultMap id="BaseResultMap" type="cn.xwlin.configcenter.entity.SysConfig">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="app_module_id" jdbcType="BIGINT" property="appModuleId"/>
        <result column="config_key" jdbcType="VARCHAR" property="configKey"/>
        <result column="config_value" jdbcType="VARCHAR" property="configValue"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, app_module_id, config_key, config_value, create_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_config
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="listByAppModuleId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_config
        where app_module_id = #{appModuleId,jdbcType=BIGINT}
        <if test="configKey != null and configKey != ''">
            and config_key like CONCAT('%',#{configKey},'%')
        </if>
        order by id desc
    </select>
</mapper>