<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xwlin.rcgame.dao.GameInfoTitanMapper">
  <resultMap id="BaseResultMap" type="cn.xwlin.rcgame.entity.GameInfoTitan">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="game_id" jdbcType="INTEGER" property="gameId" />
    <result column="titan_game_id" jdbcType="VARCHAR" property="titanGameId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, game_id, titan_game_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from game_info_titan
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from game_info_titan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.xwlin.rcgame.entity.GameInfoTitan">
    insert into game_info_titan (id, game_id, titan_game_id
      )
    values (#{id,jdbcType=INTEGER}, #{gameId,jdbcType=INTEGER}, #{titanGameId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.xwlin.rcgame.entity.GameInfoTitan">
    insert into game_info_titan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gameId != null">
        game_id,
      </if>
      <if test="titanGameId != null">
        titan_game_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gameId != null">
        #{gameId,jdbcType=INTEGER},
      </if>
      <if test="titanGameId != null">
        #{titanGameId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xwlin.rcgame.entity.GameInfoTitan">
    update game_info_titan
    <set>
      <if test="gameId != null">
        game_id = #{gameId,jdbcType=INTEGER},
      </if>
      <if test="titanGameId != null">
        titan_game_id = #{titanGameId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xwlin.rcgame.entity.GameInfoTitan">
    update game_info_titan
    set game_id = #{gameId,jdbcType=INTEGER},
      titan_game_id = #{titanGameId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>