<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xwlin.rcgame.dao.GamePlayPlayerMapper">
  <resultMap id="BaseResultMap" type="cn.xwlin.rcgame.entity.GamePlayPlayer">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="player_id" jdbcType="BIGINT" property="playerId" />
    <result column="player_name" jdbcType="BIGINT" property="playerName" />
    <result column="is_first" jdbcType="INTEGER" property="isFirst" />
    <result column="is_sub_go" jdbcType="VARCHAR" property="isSubGo" />
    <result column="sub_game_player_id" jdbcType="BIGINT" property="subGamePlayerId" />
    <result column="in_mins" jdbcType="INTEGER" property="inMins" />
    <result column="out_mins" jdbcType="INTEGER" property="outMins" />
    <result column="total_mins" jdbcType="INTEGER" property="totalMins" />
    <result column="get_goal_count" jdbcType="INTEGER" property="getGoalCount" />
    <result column="yellow_card_count" jdbcType="INTEGER" property="yellowCardCount" />
    <result column="red_card_count" jdbcType="INTEGER" property="redCardCount" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, player_id, player_name, is_first, is_sub_go, sub_game_player_id, in_mins, out_mins,
    total_mins, get_goal_count, yellow_card_count, red_card_count, `position`, create_time,
    operate_time
  </sql>
</mapper>