<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xwlin.rcgame.dao.GamePlayInfoMapper">
  <resultMap id="BaseResultMap" type="cn.xwlin.rcgame.entity.GamePlayInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="game_kind_id" jdbcType="BIGINT" property="gameKindId" />
    <result column="season_id" jdbcType="BIGINT" property="seasonId" />
    <result column="play_sort" jdbcType="INTEGER" property="playSort" />
    <result column="play_name" jdbcType="VARCHAR" property="playName" />
    <result column="is_home" jdbcType="INTEGER" property="isHome" />
    <result column="home_name" jdbcType="VARCHAR" property="homeName" />
    <result column="guest_name" jdbcType="VARCHAR" property="guestName" />
    <result column="play_status" jdbcType="INTEGER" property="playStatus" />
    <result column="play_time" jdbcType="TIMESTAMP" property="playTime" />
    <result column="play_city" jdbcType="VARCHAR" property="playCity" />
    <result column="play_site" jdbcType="VARCHAR" property="playSite" />
    <result column="home_score" jdbcType="INTEGER" property="homeScore" />
    <result column="guest_score" jdbcType="INTEGER" property="guestScore" />
    <result column="has_add" jdbcType="BIT" property="hasAdd" />
    <result column="add_home_score" jdbcType="INTEGER" property="addHomeScore" />
    <result column="add_guest_score" jdbcType="INTEGER" property="addGuestScore" />
    <result column="coche_name" jdbcType="VARCHAR" property="cocheName" />
    <result column="fans_count" jdbcType="INTEGER" property="fansCount" />
    <result column="main_refer" jdbcType="VARCHAR" property="mainRefer" />
    <result column="has_var" jdbcType="BIT" property="hasVar" />
    <result column="var_refer" jdbcType="VARCHAR" property="varRefer" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="zbb_match_id" jdbcType="BIGINT" property="zbbMatchId" />
    <result column="zbb_home_id" jdbcType="VARCHAR" property="zbbHomeId" />
    <result column="zbb_guest_id" jdbcType="VARCHAR" property="zbbGuestId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, game_kind_id, season_id, play_sort, play_name, is_home, home_name, guest_name,
    play_status, play_time, play_city, play_site, home_score, guest_score, has_add, add_home_score, 
    add_guest_score, coche_name, fans_count, main_refer, has_var, var_refer, create_time, 
    operate_time,zbb_match_id,zbb_home_id,zbb_guest_id
  </sql>

  <select id="selectWithId" resultMap="BaseResultMap">
    select * from `game_play_info` where id = #{id} limit 1
  </select>

  <select id="findByZbbId" resultMap="BaseResultMap">
    select * from `game_play_info` where zbb_match_id = #{zbbId} limit 1
  </select>
</mapper>